<div class="panel panel-default profile-area">
  <div class="panel-heading">

<!-- 
    <h3>{{authService.userProfile.tipo_usuario}}</h3>

     <h3 *ngIf="authService.userProfile.tipo_usuario == 'P';" >Perfil true</h3>  -->


  </div>
  <div class="panel-body">
    <img src="{{this.authService.userProfile?.picture}}" class="avatar" alt="avatar">
    <div>
      <label><i class="glyphicon glyphicon-user"></i> Nickname</label>
      <h3 class="nickname">{{ this.authService.userProfile?.nickname }}</h3>
    </div>
    
    <!-- <pre class="full-profile">{{ this.authService.userProfile | json }}</pre> -->
  
    <div class="container-fluid">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 form-group">
          <label for="select_tipo">Tipo</label>
          <select id="select_tipo" class="form-control">
            <option value="">No asignado</option>
            <option value="P">Persona</option>
             <option value="E">Empresa</option> 
          </select>
        </div>
          <button class="btn btn-primary" style="margin-top:26px"><i class="fa fa-refresh"></i></button>
    </div>

   <div *ngIf="authService.userProfile.tipo_usuario == 'P'; else elseBlock"> <app-profile-persona-fisica></app-profile-persona-fisica> </div>   
   <ng-template #elseBlock><app-profile-persona-juridica></app-profile-persona-juridica></ng-template>
      
    
  </div>


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
      <button class="btn btn-primary btn-margin" routerLink="/home" style="margin-bottom:25px">
          <i class="fa fa-home fa-1"></i>
      </button>
  </div>
</div>