<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascricpt:void(0);"
      routerLink="/home">
        ECALCULA
      </a>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/home">
          Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!authService.isAuthenticated()"
        (click)="authService.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="authService.isAuthenticated()"
        (click)="authService.logout()">
          Log Out
      </button>

      <button
        class="btn btn-primary btn-margin" *ngIf="authService.isAuthenticated()" routerLink="/profile" >
          Profile
      </button>

    </div>
  </div>
</nav>-->