

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <label for="input_nombres">Nombres</label>
  <input id="input_nombres" type="text" class="form-control" placeholder="EJ: FULANO MENGANO">
</div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <label for="input_apellidos">Apellidos</label>
    <input id="input_apellidos" type="text" class="form-control" placeholder="EJ: SULTANO UNTAL">
</div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <label for="input_ci">Nro CI</label>
    <input id="input_ci" type="number" class="form-control" placeholder="EJ: 1234567">
</div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <label for="input_nacimiento">Fecha Nac.</label>
    <input id="input_nacimiento" type="date" class="form-control" placeholder="EJ: 01/01/1980">
</div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <label for="input_email">E-mail</label>
    <input id="input_email" type="email" class="form-control" placeholder="EJ: fulanomengano@dominio.com.py">
</div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <label for="input_email">Telefono</label>
    <input id="input_email" type="tel" class="form-control" placeholder="EJ: 0981 111 111">
</div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <label for="input_email">Dirección</label>
    <input id="input_email" type="tel" class="form-control" placeholder="EJ: Pais Ciudad Barrio Nro Casa Calle con Calle">
</div>