<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:void(0)" routerLink="/home">Ecalcula</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
          <a href="javascript:void(0)" routerLink="/home">
            <i class="fa fa-home fa-6" aria-hidden="true"></i><span>  Principal  </span>
          </a>
      </li>
      <li *ngIf="authService.isAuthenticated()" >
          <a href="javascript:void(0)"  routerLink="/profile" >
            <i class="fa fa-user-circle fa-6" aria-hidden="true"></i><span>  Perfil  </span>
          </a>
      </li>
      <li *ngIf="authService.isAuthenticated()" >
          <a href="javascript:void(0)" routerLink="/profile" >
            <i class="fa fa-money fa-6" aria-hidden="true"></i><span>  Movimientos  </span>
          </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--<li *ngIf="!authService.isAuthenticated()" >
          <a href="javascript:void(0)" >
              <i class="fa fa-user-plus fa-6" aria-hidden="true"></i><span>  Registrarse  </span>
          </a>
      </li>-->
      <li *ngIf="!authService.isAuthenticated()" >
          <a href="javascript:void(0)" 
          (click)="authService.login()">
              <i class="fa fa-sign-in fa-6" aria-hidden="true"></i><span>  Ingresar  </span>
          </a>
      </li>
      <li *ngIf="authService.isAuthenticated()" >
          <a href="javascript:void(0)" 
          (click)="authService.logout()">
              <i class="fa fa-sign-out fa-6" aria-hidden="true"></i><span>  Salir  </span> 
          </a>
      </li>
    </ul>
  </div>
</nav>