<main class="container">
  <div class="container-fluid"> 
    <div *ngIf="authService.isAuthenticated()">
      <h1 *ngIf="authService.existUserProfile()">
        Bienvenido {{ authService.userProfile.nickname.toString().toUpperCase() }}  
      </h1>
    </div>
    <h1 *ngIf="!authService.isAuthenticated()">
      Ecalcula
    </h1>
        <div class="sectores">
          <app-main-bar></app-main-bar>
        </div>
        <div class="sectores">
          <app-container-bar></app-container-bar>
        </div>
        <div class="sectores">
          <app-footer-bar></app-footer-bar>
        </div>

  </div>
</main>