<nav class="navbar">    
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>
            <p>
              <i class="fa fa-phone-square"></i>
              Telefonos
            </p>           
        </li>
        <li>
            <p>
              <i class="fa fa-mobile-phone fa-1"></i>
              (0982) 548 - 280
            </p>
            <p>
              <i class="fa fa-phone"></i>
              (021) 752 - 180
            </p>            
        </li>
        <li>
          <p>
              <i class="fa fa-facebook"></i>
              Facebook
          </p>
          <p>
              <i class="fa fa-twitter"></i>
              Twitter
          </p>
        </li>
        <li>
          <p>
              <i class="fa fa-whatsapp"></i>
              Whatsapp
          </p>
          <p>
              <i class="fa fa-instagram"></i>
              Instagram
          </p>
        </li>
        <li>
          <p>
              <i class="fa fa-youtube"></i>
              Youtube
          </p>
          <p>
              <i class="fa fa-linkedin"></i>
              Linkedin
          </p>
        </li>        
      </ul>
    </div>
</nav>
